<nav class="navbar navbar-expand-lg navbar-light bg-body-tertiary sticky-top" [class.navbar-scrolled]="isScrolled">
  <div class="container-fluid d-flex align-items-center justify-content-between">

    <!-- Left: Logo + Toggler -->
    <div class="d-flex align-items-center">
      <button class="navbar-toggler me-2 small-toggler" type="button" (click)="toggleMenu()">
        <div class="custom-hamburger" [class.open]="!isMenuCollapsed">
          <span></span><span></span><span></span>
        </div>
      </button>
      <a class="navbar-brand" [routerLink]="['/home']">
        <img src="gympoint_logo.webp" alt="Logo" style="height: 50px;">
      </a>
    </div>

    <!-- Collapsible menu -->
    <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse justify-content-end">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/about-us']" (click)="closeMenu()">About Us</a>
        </li>
        <li class="nav-item dropdown" ngbDropdown>
          <a class="nav-link dropdown-toggle" id="programsDropdown" ngbDropdownToggle>Programs</a>
          <div class="dropdown-menu" aria-labelledby="programsDropdown" ngbDropdownMenu>
            <a class="dropdown-item" [routerLink]="['/programs/1-1-offline-coaching']" (click)="closeMenu()">1-1 Offline Coaching</a>
            <a class="dropdown-item" [routerLink]="['/programs/online-coaching']" (click)="closeMenu()">Online Coaching</a>
            <a class="dropdown-item" [routerLink]="['/programs/nutrition-consulting']" (click)="closeMenu()">Nutrition Consulting</a>
            <a class="dropdown-item" [routerLink]="['/programs/corporate-wellness-programs']" (click)="closeMenu()">Corporate Wellness Programs</a>
          </div>
        </li>
      </ul>
    </div>

    <!-- Buttons -->
    <div class="d-flex flex-column flex-lg-row ms-lg-3 gap-2 mt-2 mt-lg-0">
      <button [routerLink]="['/contact-us']" class="btn btn-dark btn-sm-mobile">Enroll Now</button>
      <a href="tel:+918008884655" class="btn btn-outline-dark btn-sm-mobile">📞 +91 8008884655</a>
    </div>
  </div>
</nav>
